body {
    font-family: "Montserrat";
    text-align: center;
    background-color: #9acce2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    font-weight: bold;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Headings ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.mission-statement {
    font-size: 3rem;
    line-height: 1.5;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Containers ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.container-fluid {
    padding: 7% 15%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Sections ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.color-section {
    background-color: #9acce2;
    padding-bottom: 3%;

}

.white-section {
    background-color: #daffaa;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Navigation Bar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    background-color: #daffaa;
    padding: 1%;
    border: 5px solid black;
}

#navbar-brand{
    color: #6790ff;
}


.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: lighter;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Title section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.title{
    padding-top: 10%;
    padding-left: 10%;
    font-size: 3.5rem; 
}

#title .container-fluid {
    padding: 3% 12% 3%;
    text-align: left;
}

.title-img{
    width: 65%;
    border-radius: 100%;
    display: inline;
}

.title-img-container{
    flex-wrap: wrap;
}



.color-box{
    background-color: #daffaa;
    border: 5px solid white;
    padding: 2%;

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About us(section) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
}

.profile-img {
    height: 5%;
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.charity-bio{

    padding: 3% 7% 7%;
    font-size: 2rem;
}
.charity-bio h1{

    padding-bottom: 1%;
}
.charity-bio p{

    color: black;
}

.posters{
    margin: 8%;
    border: 5px black solid;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#footer {
    padding: 5%;
}

.social {
    margin: 20px 10px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.history-box{

    padding: 3% 7% 7%;
    font-size: 2rem;
}
.history-box h1{

    padding-bottom: 1%;
}
.history-box p{

    color: black;
}
#founders {
    padding: 100px;
}

.founder-name{
    color: black;
}

.founder-column {
    padding: 3% 2%;
}

.card-foot {
    background-color: #fff;
    border-top: none;
}

.founder-img {
    width: 50%;
    border-radius: 100%;
    margin: 20px;
}

.poster{
    border: 5px black solid;
    margin-bottom: 3%;
}

.card-header{
    color: black;
}

.volunteer-step{
    color: black;
    font-size: 1.5rem;
}

.hyperlink{
    text-decoration: none;
}

.hyperlink:hover{
    color: #b1f2ff;
}

.thank-you{
    padding-bottom: 5%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Resources page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.upcoming-events{
    padding-bottom: 3%;
}

.partner-programs{
    text-align: none;
    padding: 5% 10%;
}

.partner-program{
    background-color: #daffaa;
    border: 5px solid black;
    padding: 3% 0;
}

.newsletter{
    color:black;
}

.newsletter-box{
    padding: 5%;
}


